body {
  background-color: white;
}
html {
  scroll-behavior: smooth;
}
header {
  text-align: justify;
  height: 1em;
  padding: 0.1em 5% 0.1em;
}
.logo {
  fill: url(#gradient);
  transition: fill 0.5s;
}
.logo:hover {
  fill: white;
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  background-color: #323232;
  transition: top 0.3s ease-in-out;
  z-index: 999; /* Задаємо менший z-index, щоб фон був позаду тексту */
}

header h1,
header nav {
  display: inline-block;
  position: relative; /* Для відносного позиціонування текстових елементів */
  z-index: 1000; /* Задаємо більший z-index, щоб текст був перед фоном */
}

/*TODO::хІДЕР НОВИЙ*/
header nav {
  transition: all;
  transition-duration: 1000ms;
}
header nav:hover a {
  border-bottom: 1px solid white;
}
header nav:hover a:not(:hover) {
  color: white;
  opacity: 0.3;
  filter: blur(1px);
  border-bottom: 0px solid white;
}
/*TODO::хІДЕР СТАРИЙ*/

footer nav:hover a {
  color: #30edf4;
}
footer nav:hover a:not(:hover) {
  color: white;
  opacity: 0.3;
  filter: blur(1px);
}

header img,
svg {
  position: absolute;
  width: 35px;
  height: 35px;
  left: 25px;
  top: 14px;
  border-radius: 50%;
  background: url(Logo.png);
}
header::after {
  content: "";
  display: inline-block;
  width: 100%;
}
header h1 {
  height: 100%;
  text-transform: uppercase;
}

header h1::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
nav a {
  display: inline-block; /* встановлюємо властивість display як inline-block */
  text-align: center; /* вирівнюємо текст по центру */
  margin: 0 10px; /* задаємо відступи по горизонталі */
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  padding: 10px;
  transition: 0.5s ease;
}
.custom-button {
  display: inline-block;
  background-color: #444;
  color: white;
  border: 2px solid white; /* Додайте цей рядок для встановлення білої рамки */
  padding: 10px 20px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #30edf4;
}
.arrow-down {
  position: fixed;
  top: 345px;
  left: 70%;
  width: 20px;
  height: 20px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  animation: arrowAnimation 1s infinite;
}

@keyframes arrowAnimation {
  0% {
    transform: rotate(45deg) translateY(0);
  }
  50% {
    transform: rotate(45deg) translateY(10px);
  }
  100% {
    transform: rotate(45deg) translateY(0);
  }
}
/*Перша сторінка*/
/*TODO::старий варіант сторінки*/
.containerse {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px; /* Змінено margin-top */
  width: 100%;
  height: 100%;
  z-index: 0;
}
#div-back {
  background-image: url("stacked-waves-haikei.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
  /*background-color: #444;*/
}
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.imagens {
  /*transform: skew(-20deg, 10deg);  Застосовано трансформацію skew */
  flex: 1; /* Змінено flex на 1 */
  text-align: right; /* Змінено text-align на right */
  margin-left: 80px; /* Змінено margin-left */
  max-width: 500px; /* Змініть цю величину за потребою */
}
.imagens img {
  display: block;
  border-radius: 30px; /* Додано border-radius для заокруглення кутів */
}
/*TODO::кінець старого варіанту сторінки*/
.imagens1 {
  position: relative; /* Додано position: relative; */
  text-align: right;
  margin-top: 80px;
  margin-left: 293px;
  opacity: 0; /* Початково приховуємо контейнер */
  animation: fade-in 2s forwards;
  height: 450px;
  width: 750px;
  z-index: 1; /* Додано z-index: 1; для збільшення пріоритету */
}

.imagens1 img {
  display: block;
  border-radius: 5px;
  position: relative; /* Додано position: relative; */
  z-index: 1; /* Додано z-index: 1; для збільшення пріоритету */
}

.texts {
  position: absolute; /* Додано position: absolute; */
  top: 130px; /* Змінено top на 10px; для встановлення відступу від верхнього краю */
  left: 150px;
  opacity: 0; /* Початково приховуємо контейнер */
  font-size: calc(24px + ((1vw - 4.2px) * 2.542373));
  font-weight: bold;
  color: black;
  animation: fade-in-left 2s forwards;
  z-index: 2; /* Додано z-index: 2; для збільшення пріоритету над зображенням */
  letter-spacing: 0.02em;
  line-height: 1.31;
}
/*Кінець першої сторінки*/
h1 a {
  text-decoration: none;
  color: inherit;
}
h1 a:hover {
  color: white;
}
main img {
  max-width: 100%;
  height: auto;
}

footer {
  height: 100%;
  background-color: #83918f;
}

/* #map {
  height: 300px;
  width: 400px;
  padding: 0;
  margin: 0;
  z-index: 1;
}

#map-flex {
  width: 100%;
  padding: 0;
  margin: 0;
  padding: 0px;
  margin: 10px;
  display: flex;
  justify-content: flex-end;
} */

#map {
  height: 300px;
  width: 100%;
  margin-bottom: 10px;
  padding: 0;
  margin: 0;
}

#map-flex {
  /* display: flex; */
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  /* justify-content: flex-start; Змінено на flex-start */
}

.links-container {
  margin: 20px 0 20px 0;
}

.links-container nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links-container a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  font-size: 17px;
}

/*Карусель*/
/* стили для элемента body */
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
} */

/* span, */
a {
  color: white;
}

.slider {
  max-width: 800px;
}

/*  */
.slider__items {
  counter-reset: slide;
}

.slider__item {
  height: 320px;
  overflow: hidden;
  position: relative;
  counter-increment: slide;
}

.slider__item::after {
  content: counter(slide);
  position: absolute;
  top: 10px;
  right: 20px;
  color: #fff;
  font-style: italic;
  font-size: 32px;
  font-weight: bold;
}

img {
  display: inline-block;
  height: auto;
  max-width: 100%;
}

.slider__item:nth-child(1) {
  background: linear-gradient(45deg, #085078 10%, #85d8ce 90%);
}

.slider__item:nth-child(2) {
  background: linear-gradient(to right, #dd1818, #333333);
}

.slider__item:nth-child(3) {
  background: linear-gradient(to right, #093028, #237a57);
}

.slider__item:nth-child(4) {
  background: linear-gradient(to right, #243b55, #141e30);
}

.slider__item {
  height: 320px;
  overflow: hidden;
  position: relative;
}

.slider__item_inner {
  position: absolute;
  left: 8%;
  right: 8%;
  top: 36px;
  bottom: 36px;
  overflow: hidden;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.slider__item_img {
  flex: 0 0 100px;
  max-width: 100px;
}

.slider__item_testimonial {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.slider__item_name {
  font-size: 20px;
  margin-bottom: 8px;
  color: rgba(255, 255, 255, 0.8);
}

.slider__item_post {
  font-size: 14px;
  margin-bottom: 8px;
  color: rgba(255, 255, 255, 0.8);
  display: none;
}

.slider__item_text {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 12px;
  display: none;
}

@media (min-width: 576px) {
  .slider__item {
    height: 310px;
  }

  .slider__item_inner {
    flex-direction: row;
  }

  .slider__item_testimonial {
    margin-left: 15px;
  }

  .slider__item_img {
    flex: 0 0 150px;
    max-width: 150px;
    height: 200px;
  }

  .slider__item_testimonial {
    text-align: left;
  }

  .slider__item_post,
  .slider__item_text {
    display: block;
  }
}

.btn {
  display: block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  text-decoration: none;
}

.btn:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.5);
}
/*Кінець каруселі*/

.container2 {
  margin-top: 3.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa {
  font-size: 20px;
  font-weight: 700;
  width: 20px;
  text-align: center;
  margin: 5px;
  padding: 10px;
  border-radius: 50%;
  background-color: #444;
  box-shadow: 0 0 8px 1px;
  transition: 0.5s;
}
.ico1:hover {
  color: #0051ff;
}
.ico2:hover {
  color: #80c8ff;
}
.ico3:hover {
  color: #db0cc3;
}
.ico4:hover {
  color: #ff0808;
}

/*Скрол анімація*/

.element-animation {
  /*margin: 2rem 0;*/
  font-size: 3rem;

  display: flex;
  justify-content: center; /* вирівнювання по горизонталі */
  align-items: center; /* вирівнювання по вертикалі */

  opacity: 0;
  transform: translateY(20px);
}
.element-animation.element-show {
  opacity: 1;
  transition: all 1.5s;
  transform: translateY(0%);
}

.el-right {
  text-align: right;
  font-size: 26px;
  flex: 1; /* призначення пропорційної ширини блоку */
}

.el-back {
  position: relative;
  padding-top: 93px;
  background-color: #686868;
}
.el-left {
  padding: 20px;
  margin-top: 20px;
  background-color: black;
  border-radius: 100px;
  width: 70%;
  height: 400px;
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, -3), rgba(255, 255, 255, 0.5)), url("image.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.imges {
  max-width: 100%;
  margin-left: 20px;
}

.imges img {
  border-radius: 5px; /* Зробити фотографію круглою */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 50%; /* Зменшити фотографію до 50% ширини */
}
/*fff*/
.el-left-text {
  color: #f2f2f2; /* Колір тексту */
  font-size: 18px; /* Розмір шрифту */
  width: 40%;
  height: 180px;
  margin-top: 110px;
  margin-left: 110px;
  text-align: justify; /* Вирівнювання тексту по ширині */
}
/*Кінець скрол анімації*/

/*  Дорога замовлення*/

main div h4 {
  color: black;
}
#proj {
  padding-top: 93px;
  background-color: white; /* Змінено на #proj, #proj * */
}

.container {
  width: 750px;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.number {
  background: #ed1a3b none repeat scroll 0 0;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  text-align: center;
  width: 25px;
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12 {
  float: left;
  color: black;
}

.col-sm-2 {
  width: 16.66666667%;
}
.col-sm-5 {
  width: 41.66666667%;
}
.col-sm-12 {
  width: 100%;
}
.text_left {
  padding: 10px 10px 10px 6%;
  text-align: left;
  opacity: 0; /* Початково приховуємо контейнер */
  animation: fade-in-right 2s forwards;
}
.text_right {
  padding: 10px 6% 10px 10px;
  text-align: right;
  opacity: 0; /* Початково приховуємо контейнер */
  animation: fade-in-left 2s forwards;
}
.text_center {
  padding: 0;
  text-align: center;
  opacity: 0; /* Початково приховуємо контейнер */
  animation: fade-in 2s forwards;
}
.banner {
  padding: 100px 0;
  text-align: center;
}
/*Кінець дорожки замовлення*/
/*Footer icons animation*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.icons {
  display: flex;
  justify-content: center;
  column-gap: 25px;
  /* padding-bottom: 20px; */
}

.icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  text-decoration: none;
  font-size: 26px;
  color: #fff;
  border-radius: 50%;
  outline: 2px solid #fff;
  transition: outline-offset 0.25s, outline-color 0.25s, background-color 0.25s;
}

.icon:hover {
  outline-offset: 4px;
}
.icon i {
  margin: auto;
}
.icon:hover i {
  animation: shake 0.25s;
}
.icon--telegram:hover {
  background-color: #2aabee;
  outline-color: #2aabee;
}
.icon--instagram:hover {
  background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  outline-color: #e1306c;
}
.icon--facebook:hover {
  background-color: #4267b2;
  outline-color: #4267b2;
}

@keyframes shake {
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-15deg);
  }
}
/*End icons animation*/

/*Footer links*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #fff;
  display: grid;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
p {
  padding-bottom: 16px;
}
i {
  font-size: 24px;
}
/* ======================== */
.footer {
  padding-block: 50px;
  padding-bottom: 25px;
  background-color: #151515;
  color: #666873;
  margin-top: auto;
}
.footer__container {
  max-width: 1160px;
  margin: auto;
  padding: 0 15px;
}
.footer__top {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  row-gap: 20px;
}
.footer__title {
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 20px;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__list-link {
  transition: color 0.25s;
}
.footer__list-link:hover {
  color: #fff;
}
.footer__divider {
  margin-block: 25px;
  border: none;
  border-top: 1px solid rgba(252, 255, 255, 0.1);
}
.footer__bottom {
  text-align: center;
  padding-bottom: 20px;
}
.footer__list--bottom {
  flex-direction: row;
}
/*End of Footer links*/

/*START FAQ*/
.faq {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  color: #dbdee1;
  background-color: #313338;
  padding: 16px;
  border-radius: 8px;
}
.faq__title {
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
}
.faq__separator {
  border: 1px solid rgb(219 222 225 / 15%);
  border-bottom: none;
}
.faq__item {
  border-radius: 8px;
  transition: background-color 0.25s;
}
.faq__item:hover,
.faq__item:focus,
.faq__item--expanded {
  background-color: #1e1f22;
}
.faq__question {
  position: relative;
  display: block;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  color: #fff;
  font: inherit;
  font-weight: bold;
  text-align: left;
  padding: 16px 48px;
}
.faq__icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  font-size: 24px;
  transition: transform 0.25s;
}
.faq__question[aria-expanded="true"] .faq__icon {
  transform: translateY(-50%) rotate(90deg);
}
.faq__answer {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.25s;
}
.faq__answer[aria-hidden="false"] {
  grid-template-rows: 1fr;
}
.faq__answer-inner {
  overflow: hidden;
}
.faq__answer-text {
  padding: 0 16px 16px;
}
/*END FAQ*/

/*FORM START*/

/* MODAL WINDOW */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  background-color: black;
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.modal__header {
  font-size: 3.25rem;
  margin-bottom: 4.5rem;
  line-height: 1.5;
}

.modal__form {
  margin: 0 3rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 2.5rem;
}

.modal__form label {
  font-size: 1.7rem;
  font-weight: 500;
}

.modal__form input {
  font-size: 1.7rem;
  padding: 1rem 1.5rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}

.modal__form button {
  grid-column: 1 / span 2;
  justify-self: center;
  margin-top: 1rem;
}

.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background: none;
}

.highlight {
  position: relative;
}

.highlight::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
/*FORM END*/
