header {
    text-align: justify;
    letter-spacing: 1px;
    height: 2em;
    padding: 0.5em 5% 2em;
    background: #2c3e50;
    color: #fff;

}
header h1,
header nav {
    display: inline-block;
}
header::after {
    content: '';
    display: inline-block;
    width: 100%;
}
header h1 {
    height: 100%;
}

header h1::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
nav a {
    display: inline-block; /* встановлюємо властивість display як inline-block */
    text-align: center; /* вирівнюємо текст по центру */
    margin: 0 20px; /* задаємо відступи по горизонталі */
}
