header {
    text-align: justify;
    letter-spacing: 1px;
    height: 2em;
    padding: 0.5em 5% 2em;
    background: #2c3e50;
    color: #fff;

}
header h1,
header nav {
    display: inline-block;
    /*vertical-align: middle; /* додано для вирівнювання по вертикалі */

}
header img{
    position: absolute;
    width: 35px;
    height: 35px;
    left: 25px;
    top: 36px;
    border-radius: 50%;
    background: url(Logo.png);
}
header::after {
    content: '';
    display: inline-block;
    width: 100%;
}
header h1 {
    height: 100%;
}

header h1::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
nav a {
    display: inline-block; /* встановлюємо властивість display як inline-block */
    text-align: center; /* вирівнюємо текст по центру */
    margin: 0 20px; /* задаємо відступи по горизонталі */
}
a {
    text-decoration: none; /* Видаляє підкреслення */
    color: inherit; /* Наслідує колір тексту батьківського елементу */
}
a:hover {
    color: blue; /* змінюємо колір при наведенні курсору */
}
h1 a {
    text-decoration: none;
    color: inherit;
}
h1 a:hover{
    color: white;
}